body {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 700 !important;
}

.meal-details {
    width: 38rem !important;
}

.meal-details img {
    width: 608px;
    height: 345px;
    object-fit: cover;
}

.meal-details p {
    font-weight: normal !important;
    color: #6C6C6C !important;
}

.meal-details p img {
    width: 24px;
    height: 24px;
    background-color: white;
    margin-right: 10px;
}

#nothing-found {
    font-size: 22px;
    font-weight: 700;
    color: #dc3545;
}

.cursor {
    cursor: pointer;
}